/* Estilos CSS para a interface do usuário */

body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
body {
    counter-reset: mynum;
  }
  p.numbered:before {
    content: counter(mynum) ": ";
    counter-increment: mynum;
    font-weight: bold;
  }